/*********************/
/*  Mobile Humburger */     
/*********************/

#mobile-menu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease-out;
}

#mobile-menu.active {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-out;
}

#menu-toggle {
  cursor: pointer;
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.animated-icon {
  font-size: 50px;
  color: #007bff;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}